<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009468391663-c8bfe8a297pee0ftj1ta0o2ni55g8a7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009468391663-c8bfe8a297pee0ftj1ta0o2ni55g8a7g</string>
	<key>API_KEY</key>
	<string>AIzaSyDAs6wtY7wx4xYp_kYItY76gFOctzKpAWE</string>
	<key>GCM_SENDER_ID</key>
	<string>1009468391663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.javeot.SmentryMobile</string>
	<key>PROJECT_ID</key>
	<string>smentry-eb556</string>
	<key>STORAGE_BUCKET</key>
	<string>smentry-eb556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009468391663:ios:134f8061bfb9f497051b1a</string>
</dict>
</plist>